{% extends "base.html" %}

{% block title %}Projects - Fitness Tracker{% endblock %}

{% block content %}
    <h3>Fitness Tracker | Java, JavaFX, JUnit, Git/GitLab</h3>
    <p class="fs-5"> Now I worked mostly on the backend of this project. I developed how the data would be stored, methods that could be used, the menu, testing, ect. The main difficulty of this project was working with and as a team. My team had a lot of struggles, like people dropping out or not putting in their best effort. However with a lot of talks and communication we were able to get the group to complete our biggest project at the time.<br><br>

This project used javaFX as the gui application for the fitness tracker, Junit for unit testing of all methods and functions, Our group also used gitLab for our remote repository. This was our first time building a GUI for a personal project and our first time looking at javaFX. Luckily we had access to a tool which allowed us to design the GUIs look pretty easily, but the hard part was getting our frontend and backend be able to communicate with each other.<br>
</p><br>


{% endblock %}
