{% extends "base.html" %}

{% block title %}Projects{% endblock%}

{% block content %}
    <h1>Resume Website | Flask, Python, Git/GitHub</h1><br>
    <p>ill keep you posted<p>

    <h1>Fitness Tracker | Java, JavaFX, JUnit, Git/GitLab</h1><br>
    <p> Designed and developed a desktop fitness tracker that allows users to create and manage workout routines,
    exercises, sets, reps, and weight.<br> Utilized JavaFX to build an interactive, user-friendly GUI for easy workout tracking.<br>
    Applied object-oriented principles to organize routines, exercises, and progress into reusable and maintainable
    classes.<br> Implemented unit testing with JUnit to ensure reliable functionality and maintain code quality.</p><br><br>


    <h1>Brain Tumor Detection AI | Python, PyTorch, Computer Vision, Machine Learning</h1><br>
    <p>Developed a deep learning model using PyTorch to classify brain MRI scans and detect tumors with 94 percent
accuracy.<br>
    Designed and trained a convolutional neural network (CNN) to distinguish between tumor and non-tumor images.<br>
    Evaluated performance with accuracy metrics and optimized hyperparameters to maximize model reliability<br>
    Gained experience in computer vision, neural networks, and real-world medical datasets.</p><br><br>

<h1>Custom Connect 4 Game | Java, Algorithm Design, Game Logic</h1>
<p>Built a fully functional Connect 4 game in Java using only static methods, focusing on procedural programming
techniques.<br>
    Designed a dynamic game board with customizable width, height, and connection length, allowing flexible
gameplay beyond the classic rules.<br>
    Introduced an innovative L-shaped win condition that required players to create both a straight connection and at
least one perpendicular piece for victory.<br>
    Implemented efficient win-checking algorithms to handle variable board sizes and complex game states.<br>
    Reinforced skills in control flow, arrays, and scalable logic for grid-based games.</p>

<h1> CLI Task Manager App | GoLang </h1>
<p>ill also keep you posted<p>

{% endblock %}

