{% extends "base.html" %}

{% block title %}Projects{% endblock%}

{% block content %}
<div class="container my-5">
    <h3>Resume Website | Flask, Python, Git/GitHub, HTML, CSS, JavaScript</h3>
<p class="fs-5">The major struggle that I had making this website was the fact that I have never done web dev before. The only interactions that I've had with websites was when I was using them...<a href = "{{ url_for('projects.runWebsite') }}"> Read whole project.</a></p><br><br> 



    <h3>Fitness Tracker | Java, JavaFX, JUnit, Git/GitLab</h3>
    <p class="fs-5"> Now I worked mostly on the backend of this project. I developed how the data would be stored, methods that could be used, the menu, testing, ect. The main difficulty of this project was working with and as a team. My team had a lot of struggles, like people dropping out or not putting in their best effort. However with a lot of talks and communication we were able to get the group to complete our biggest project at the time.<br><br>

This project used javaFX as the gui application for the fitness tracker, Junit for unit testing of all methods and functions, Our group also used gitLab for our remote repository. This was our first time building a GUI for a personal project and our first time looking at javaFX. Luckily we had access to a tool which allowed us to design the GUIs look pretty easily, but the hard part was getting our frontend and backend be able to communicate with each other.<br>
</p><br>


    <h3>Brain Tumor Detection AI | Python, PyTorch, Computer Vision, Machine Learning</h3>
    <p class="fs-5">Developed a deep learning model using PyTorch to classify brain MRI scans and detect tumors with 94 percent
accuracy.<br>
    Designed and trained a convolutional neural network (CNN) to distinguish between tumor and non-tumor images.<br>
    Evaluated performance with accuracy metrics and optimized hyperparameters to maximize model reliability<br>
    Gained experience in computer vision, neural networks, and real-world medical datasets.</p><br><br>

<h3>Custom Connect 4 Game | Java, Algorithm Design, Game Logic</h3>
<p class="fs-5">Built a fully functional Connect 4 game in Java using only static methods, focusing on procedural programming
techniques.<br>
    Designed a dynamic game board with customizable width, height, and connection length, allowing flexible
gameplay beyond the classic rules.<br>
    Introduced an innovative L-shaped win condition that required players to create both a straight connection and at
least one perpendicular piece for victory.<br>
    Implemented efficient win-checking algorithms to handle variable board sizes and complex game states.<br>
    Reinforced skills in control flow, arrays, and scalable logic for grid-based games.</p><br>

<h3> CLI To Do List App | GoLang </h3>
<p class="fs-5">ill also keep you posted<p>
</div>
{% endblock %}

