{% extends "base.html" %}

{% block title %}Projects{% endblock%}

{% block content %}
<div class="container my-5">
    <div class="col-lg-8 px-0">
    <h3>Resume Website | Flask, Python, Git/GitHub, HTML, BootStrap, Docker</h3>
<p class="fs-5">When I decided to build this website, I had zero web development experience. My only interaction with websites? Using them...<a href = "{{ url_for('projects.runWebsite') }}"> Read whole project.</a></p><br><br> 



    <h3>Fitness Tracker | Java, JavaFX, JUnit, Git/GitLab</h3>
<p class="fs-5"> I collaborated with a team to develop a desktop fitness tracker that lets users create, manage, and track workouts complete with exercises, sets, reps, and weight logging. My primary focus was on the backend architecture, ensuring data was stored efficiently and methods were robust, while also contributing to the JavaFX GUI and unit testing...<a href=" {{ url_for('projects.runFitnessTracker') }}">Read whole project</a></p><br><br>

    <h3>Brain Tumor Detection AI | Python, PyTorch, Computer Vision, Machine Learning</h3>
    <p class="fs-5">I developed a deep learning system that analyzes brain MRI scans to detect tumors with 94% accuracy, combining computer vision with healthcare applications...<a href="{{ url_for('projects.runTumor') }}">Read whole project</a></p><br><br>

<h3>Custom Connect 4 Game | Java, Algorithm Design, Game Logic</h3>
<p class="fs-5">I built a fully customizable Connect 4 experience in Java that breaks free from traditional rules while mastering core programming concepts...<a href="{{ url_for('projects.runConnect') }}">Read whole project</a></p><br>

<h3> CLI To Do List App | GoLang </h3>
<p class="fs-5">I built this command-line to-do list manager as my inaugural Go project a practical way to learn the language’s quirks while creating something useful...<a href="{{ url_for('projects.runTodo') }}">Read whole project</a><p><br><br>

<h3> Tik Tak Toe | Python, Tkinter, Algorithm Design </h3>
<p class="fs-5">After a long school year, I used this classic game to reignite my Python skills through progressive iterations...<a href="{{ url_for('projects.runTikTakToe') }}">Read whole project</a></p><br><br>

<h3> Weather App | Python, APIs, Web Requests, Json </h3>
<p class="fs-5"> When I started this project, I had a confession to make: I didn’t actually know what an API was. I’d heard the term thrown around, knew it was important, but had never worked with one directly...<a href="{{ url_for('projects.runWeather') }}">Read whole project</a></p><br><br>

<h3> Wikipedia Scraper | Python, Web Requests </h3>
<p class="fs-5">I built this project to deepen my understanding of web interactions in Python, focusing on two powerful tools...<a href="{{ url_for('projects.runWikiScraper') }}">Read whole project</a></p><br><br>
</div>
</div>
{% endblock %}

