{% extends "base.html" %}

{% block title %}Projects - Resume Website{% endblock %}
{% block content %}
<div class="container my-5">
    <h3>Resume Website | Flask, Python, Git/GitHub, HTML, CSS, JavaScript</h3>
    <p class="fs-5">The major struggle that I had making this website was the fact that I have never done web dev before. The only interactions that I've had with websites was when I was using them. So the major hurtle was actually getting something up and running using what i know. Which is why I chose to use the flask framework to create this website. <br><br>

My next major issue is that a lot of videos that I watched on Flask were outdated for certain major things, so I had to try and find a newer video. This video was super helpful in the creation of this website, however it was missing a lot of the css, and JavaScript that was needed to make core features of this website like the, show more and show less feature, the navigation bar, the footer. As well as all major formatting for making the website look nice and clean.<br><br>

My final challenge was actually deploying the website to the world wide web. For this I used docker and hosted the website onto a server. This was my first time using docker to containerize my program for deployment, I had only heard of docker not one week before doing this.<br><br>
</p>
            <a href="https://github.com/XavierLED/tumor-detector" class="btn btn-secondary">View GitHub repo</a>

</div>
{% endblock %}

